<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Главная страница </title>
</head> <h1 align="center">Главная страница</h1>
<body>
        <h2 align="center"> <a href="http://127.0.0.1:8000/home/class_template/"> Классовая страница </a> </h2>
        <h2 align="center"> <a href="http://127.0.0.1:8000/home/function_template/"> Функционаьная страница </a> </h2>
        <h2 align="center"> <a href="http://127.0.0.1:8000/home/market/"> Магазин раритетных игр </a> </h2>






    <a href="#" >Главная< </a><p></p>
    <a href="http://127.0.0.1:8000/home/market" >магазин< </a ><p></p>
    <a href="http://127.0.0.1:8000/home/shopping_cart/" >Корзина< </a><p></p>
</body>
</html>